@yellow: #fffa19;
@red: #fc030f;
@green: #024d03;

.margenes(@top: 0px, @bottom: 0px){
	margin-top: @top;
	margin-bottom: @bottom;
}


.jumbotron {
	background-color: @yellow;
	color: black;
	.margenes(50px, 0px);
}

footer {
	padding: 10px 10px 0 10px;
	background-color: @yellow;
	.margenes(10px, 0px);
}


.card-prod {
	flex: 1 150px;
	padding: 20px;	
	margin:5px;
	background: #e35f56;
	
}

.btn {
	background: black;
}

.jumbotron {
	margin-top:55px;
	color: white;
}

.cards { width:100%;}

.card { 
	margin:10px;
	flex: 1 200px;
 }

 .oi { font-size:50px;}

 .form-control {
	 margin-bottom:20px;
 }

 .card-body  {
	margin:10px 20px 10px 20px;
	padding:10px 20px 10px 20px;
 }

 .card-title  span {
	 font-size:20px;
	 margin-right:20px;
 }

 .card-body footer {
	 margin-bottom: 20px;
 }


 .reserva {
	 margin: 50px auto;
	 text-align: center
 }